p{
    direction: rtl
}

.logo-title{
    height: 2rem;
}

@media only screen and (max-width: 576px) {
    .fp-right{
        visibility: hidden;
    }

    #article-section .article-title,
    #feature-section .container,
    #prize-section .list-prize,
    #bottom-section .container{
        margin-top: 30%;
    }
    
}

@media only screen and (max-width: 768px) and (min-width: 576px) {
    .fp-right{
        visibility: hidden;
    }

    #article-section .article-title,
    #feature-section .container,
    #prize-section .list-prize,
    #bottom-section .container{
        margin-top: 10%;
    }
    
}



/* navbar  */
.navbar-items .nav-item{
    transition: color 0.7s ease-in-out;
    color :#323232;
}


.fp-viewing-1 .navbar-items .nav-item,
.fp-viewing-2-0 .navbar-items .nav-item,
.fp-viewing-2-1 .navbar-items .nav-item,
.fp-viewing-2-2 .navbar-items .nav-item,
.fp-viewing-2-3 .navbar-items .nav-item,
.fp-viewing-3 .navbar-items .nav-item,
.fp-viewing-4 .navbar-items .nav-item,
.fp-viewing-7 .navbar-items .nav-item
{
    color: #fefefe ;
}

/* navbar */
.navbar-bg-light{
    /* background: rgba(248, 245, 245, 0.671) ; */
}

.navbar-items{
    text-align: right;
    direction: rtl
}

/* start of header section  */

#header-section{
    background-image: url(img/Faramouj_New_12-09.png);
    background-color: #fdfdfd;
    background-size: cover;
}

#header-section .header-section-text{
    
    text-transform: uppercase;
    text-align: center;
    color: #808080;
}
#header-section .header-section-text:after{
    content: "";
    display: table;
    clear: both;
}
#header-section .header-section-title{
    font-weight: 200;
    font-size: 4rem;
}

#header-section .header-section-detail{
    font-size: 0.7rem;
}

#header-section .header-vector{
    width: 42rem;
    position: fixed;
    top: 50%;
    left: 50%;
    /* bring your own prefixes */
    transform: translate(-50%, -50%);
    animation: spin 100s linear infinite;
}
@media only screen and (max-width: 576px) {

    #header-section .header-vector{
        width: 22rem;
    }
    
    #header-section .header-section-detail{
        font-size: 0.5rem;
    }

    #header-section .header-section-title{
        font-size: 3rem
    }

}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: translate(-50%, -50%) rotate(0deg);
    }

    100% {
        -webkit-transform: translate(-50%, -50%) rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: translate(-50%, -50%) rotate(0deg);
    }

    100% {
        transform: translate(-50%, -50%) rotate(360deg);
    }
}

/* end of header section  */

/* start of feature section  */

#feature-section {
    background-image: url(img/Faramouj_New_12-11.png);
    background-size: cover;
    background-position: center;
    overflow: hidden;
}

.feature-items {
    text-align: right;
    direction: rtl;
    padding: 10px;
    transition: 1s ease-in-out;
    /* visibility: hidden; */
}

.feature-items h3 {
    font-size: 1.8rem;
    line-height: 6rem;
    letter-spacing: 0px;
    color: #e9e3e3;
    font-weight: 300;
}


.feature-items p {
    font-size: 1rem;
    line-height: 2rem;
    color: #f2f2f2;
    margin-right: 1rem;
}

.feature-items img {
    width: 80px;
    margin-left: 10px;
}


.feature-items:nth-child(4n){
    transform: translateX(50vw);
    transition-delay: 0.1s;
}

.feature-items:nth-child(4n+1){
    transform: translateX(-50vw);
    transition-delay: 0s;
}

.feature-items:nth-child(4n+2){
    transform: translateX(50vw);
    transition-delay: 0.3s;
}

.feature-items:nth-child(4n+3){
    transform: translateX(-50vw);
    transition-delay: 0.2s;
}

.fp-viewing-1 .feature-items:nth-child(n){
    transform: translateX(0vw);
    visibility: visible;
} 

/* end of feature section  */

/* start of service section  */

#service-section {
   
}

#service-section .fp-slides{
    z-index: 2;
}


.service-slide{
    text-align: center;
    margin-top: -15vh;
}


.service-slide h4{
    color: #231C63;
}

.service-cover{
    width: 100%;
    height: 100%;
    z-index: 2;
    position: absolute;
    background-image: url(img/Faramouj_New_12-07.png);
    background-color: rgba(248, 245, 245, 0.671);
    background-size: cover;
    background-position: center;
}

.service-video{
    z-index: 1;
    position: absolute;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

.service-video video{
    position: absolute;
    width: auto;
    height: auto;
    min-width: 100%;
    min-height: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-55%, -50%);
}


.service-title {
    top: 15%;
    position: relative;
    z-index: 40;
    text-align: center;
    color: #231C63;
}

.fp-controlArrow.fp-prev {
    visibility: hidden;
}

.fp-controlArrow.fp-next {
    visibility: hidden;
}
.fp-slidesNav.fp-bottom{
    text-align: center
}
/* end of service section  */

/* start of first customer section section  */

#first-customer-section{
    background-image: url(img/1-04.jpg);
    background-size: cover;
    background-position: center;
}

.first-customer-background img {
    width: 100%;
    transform: translateY(4%);
}

.first-customer-detail{
    text-align: center;
    direction: rtl
}

.first-customer-detail img {
    width: 50%;
}

.customer-top-right{
    width: 17%;
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(20vw,-20vh);
    transition: all 1s ease;
}

.customer-bottom-right{
    width: 13%;
    position: absolute;
    bottom: 0;
    right: 0;
    transform: translate(15vw,15vh);
    transition: all 1s ease;
}

.fp-viewing-3 .customer-top-right{
    transform: translate(0vw,0vh);
}

.fp-viewing-3 .customer-bottom-right{
    transform: translate(0vw,0vh);
}


@media only screen and (min-width: 992px) {

    .first-customer-background img {
        width: 130%;
        transform: translate(-20%,5%);
    }

}


/* end of first customer section section  */

/* start of second customer section section  */

#second-customer-section {
    background-image: url(img/1-01.jpg);
    background-size: cover;
    background-position: center;
}

.second-customer-background img {
    width: 100%;
    transform: translateY(4%);
}

.second-customer-detail{
    text-align: right;
    direction: rtl
}

.second-customer-detail img {
    width: 50%;
    transform: translate(20vw,-30vh);
    transition: 1s all ease-out;
}

.second-customer-detail p {
    transform: translate(20vw,30vh);
    transition: 1s all ease-out;
}

.fp-viewing-4 .second-customer-detail p{
    transform: translate(0vw,0vh);
}

.fp-viewing-4 .second-customer-detail img{
    transform: translate(0vw,0vh);
}

@media only screen and (min-width: 992px) {

    .second-customer-background img {
        width: 125%;
        transform: translate(-10%,5%);
    }

}

/* end of second customer section section  */

/* start of prize section  */

#prize-section{
    background-image: url(img/Faramouj_New_12-22.png);
    background-color: #FEFEFE;
    background-size: cover;
    background-position: center;
}

.prize-right-sign{
    content: "";
    display: block;
    background-image: url(img/Untitled-6-02.png);
    background-size: cover;
    top: 30%;
    left: auto;
    right: 0;
    position: absolute;
    width: 150px;
    height: 410px;
}

.prize-left-sign{
    content: "";
    display: block;
    background-image: url(img/Untitled-6-03.png);
    background-size: cover;
    top: 30%;
    left: 0;
    right: auto;
    position: absolute;
    width: 150px;
    height: 410px;
}

.main-prize img{
    width: 7rem;
}

.small-prize img{
    width: 5rem;
}

.small-prize img {
    transform: scale(0.5);
    transition: 1s ease-in-out;
}

.fp-viewing-5 .small-prize img {
    transform: scale(1);
}


.main-prize img {
    transform: scale(0.5);
    transition: 0.8s ease-in-out;
}

.fp-viewing-5 .main-prize img {
    transform: scale(1);
}
/* end of prize section  */

/* start of article section  */

#article-section {
    background-image: url(img/Faramouj_New_12-17.jpg);
    background-size: cover;
    background-position: top center;
}
.article-title {
    text-align: center;
    color: #231C63;
}

.article-card {
    text-align: right;
    direction: rtl;
    overflow: hidden;
}

.article-card img {
    width: 100%;
}

.article-card h2 {
    color: #1b1919
}

.article-card h6 {
    color: #383131
}

.article-card p {
    color: #302828
}

.article-card a.btn {
    width: 6em;
}


.article-card:before{
    content: '';
    position:absolute;
    top:0;
    left:-100%;
    width:100%;
    height:100%;
    background: rgba(8, 133, 206, 0.1);
    transition:0.5s ease;
    pointer-events: none;
}
  
.article-card:after{
    content: '';
    position:absolute;
    bottom:0;
    right:-100%;
    width:100%;
    height:100%;
    background: rgba(244, 85, 6, 0.1);
    transition:0.5s ease;
    pointer-events: none;
}

.article-card:hover:before{
    left:-50%;
    transform: skewX(-5deg);
}

.article-card:hover:after{
    left:-50%;
    transform: skewX(-5deg) translateX(-50.1%);
}


.article-card:nth-child(1){
    transform: translateX(-50vw) rotateZ(360deg);
    transform-origin: center;
    transition:1s ease;
}

.fp-viewing-6 .article-card:nth-child(1){
    transform: translateX(0vw) rotateZ(0deg);
}

.article-card:nth-child(2){
    transform: rotateX(90deg);
    transition:1s ease;
}

.fp-viewing-6 .article-card:nth-child(2){
    transform: rotateX(360deg);
}

.article-card:nth-child(3){
    transform: translateX(50vw) rotateZ(360deg);
    transform-origin: center;
    transition:1s ease;
}

.fp-viewing-6 .article-card:nth-child(3){
    transform: translateX(0vw) rotateZ(0deg);
}



/* end of article section  */

/* start of bottom section */

#bottom-section {
    background-image: url(img/black-eggs.jpg);
    background-size: cover;
    background-position: top center;
}

.footerEnd {
    content: "";
    display: block;
    background-image: url(img/Faramouj_New_footer.png);
    left: 0;
    right: 0;
    width: 100%;
    height: 135px;
    bottom: 0;
    cursor: pointer;
    position: absolute;
}

.footer-card {
    text-align: right;
    direction: rtl;
    overflow: hidden;
}

.footer-card h2 {
    color: #DCB162;
    font-weight: bold;
    margin-bottom: 1.5rem;
}

.footer-card p {
    color: #d3d3d3;
    font-size: 0.9rem;
}

.footer-card .input-group .form-control{
    border-radius:0 .25rem .25rem 0 !important; 
}

.footer-card:nth-child(2) ul {
    list-style-type: none;
    padding-right: 0;
}

.footer-card:nth-child(2) a {
    text-decoration: none;
    color: #d3d3d3;
    font-size: 0.9rem;
}
.footer-card:nth-child(2) a:hover {
    color: #525261;
}

.btn-self-gold {
    color: #fff;
    background-color: #E4B866;
    border-color: #E4B866;
}

.footer-card .input-group .btn-self-gold {
    border-radius:.25rem 0 0 .25rem !important; 
}

.social-title{
    text-align: center;
    color: #DCB162;
}

.social-icon {
    background: linear-gradient(to left, #343646 0%, #151720 100%);
    color: #e5b965;
    text-align: center;
    border-radius: 50%;
    font-size: 16px;
    height: 32px;
    line-height: 20px;
    width: 32px;
    float: left;
    margin: 10px 10px 10px 0;
}
@media only screen and (max-width: 576px) {
    .social-collect{
        padding-bottom: 40%;
    }
}
/* end of bottom section */